<link rel="stylesheet" href="first.css" />
<script src="demo.js"></script>
<h1>Welcome to</h1> 

<img src="logo.jpg" width="10%" alt="">

































<!-- <%- include("Navbar.ejs") %>
<div class="container-fluid">
  <h3>Home Page</h3>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>The navbar-expand-xl|lg|md|sm class determines when the navbar should stack vertically (on extra large, large, medium or small screens).</p>
</div>

<%- include("Navbar.ejs") %>




 -->

<!-- Form -->
